<div class="cart_calc">
    <table>
        <thead>
            <tr>
                <th>Item</th>
                <th class="productCount">Qty</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of cartProducts">
                <td class="productName"><img src={{product.image}} >{{product.name}} </td>
                <td class="productCount">
                    <i class="fa fa-minus" (click)="productCountChange(product,'decrement')"></i>
                    <input type="text" [(ngModel)]="product.count"/>
                    <i class="fa fa-plus" (click)="productCountChange(product,'increment')"></i></td>
                <td class="price">${{product.price.actual * product.count}}</td>
            </tr>
        </tbody>
    </table>

    <div class="cartTotal">
        <div>Totals</div>
        <table>
            <tr>
                <td>Items({{cartProductCout}})</td>
                <td class="price">${{productTotal}}</td>
            </tr>
            <tr>
                <td>Discount</td>
                <td class="price">${{discountTotal}}</td>
            </tr>
            <tr>
                <td>Typed Discount</td>
                <td class="price">$0</td>
            </tr>
            <tr class="finalTotal">
                <td>Total</td>
                <td class="price">${{overallTotal}}</td>
            </tr>
        </table>
        
    </div>
</div>
